<h1>Edit Retro</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.retro_path(@conn, :update, @current_company, @retro)) %>

<span><%= link "Back", to: Routes.retro_path(@conn, :show, @current_company, @retro) %></span>
