<h1>New Retro</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.team_retro_path(@conn, :create, @current_company, @current_team)) %>

<span><%= link "Back", to: Routes.team_retro_path(@conn, :index, @current_company, @current_team) %></span>
