<h1>Show Retro</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @retro.name %>
  </li>

  <li>
    <strong>Due date:</strong>
    <%= @retro.due_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.retro_path(@conn, :edit, @current_company, @retro) %></span>
<span><%= link "Team", to: Routes.team_path(@conn, :show, @current_company, @retro.team) %></span>
<span><%= link "Delete", to: Routes.retro_path(@conn, :delete, @current_company, @retro), method: :delete %></span>

