<h1>Show Retro</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @retro.name %>
  </li>

  <li>
    <strong>Due date:</strong>
    <%= @retro.due_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.team_retro_path(@conn, :edit, @current_company, @current_team, @retro) %></span>
<span><%= link "Back", to: Routes.team_retro_path(@conn, :index, @current_company, @current_team) %></span>
