<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for team <- @teams do %>
    <tr>
      <td><%= team.name %></td>

      <td>
        <span><%= link "Show", to: Routes.team_path(@conn, :show, @current_company, team) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Team", to: Routes.team_path(@conn, :new, @current_company) %></span>
